/23318_DSA_Assignment.zip
/abd card.jpeg
/admit card3sem.jpeg
/aedo
/ARRAYS
/BSC_240235940_.pdf
/course
/cpu scheduling
/credit card
/Data Science Project
/desktop.ini
/Dev-C++.lnk
/Didi
/Downloads - Shortcut.lnk
/DSA.exe
/face detection
/GitHub Desktop.lnk
/html file
/image
/inheritance
/ma eco.docx
/ma eco1.docx
/ma eco2.docx
/ma eco21.docx
/ma new eco21.docx
/ma new1 eco21.docx
/ma.docx
/MinGW Installer.lnk
/New folder
/pattern printing
/prince
/Priti (Person 1) - Chrome.lnk
/priti aadhar.jpeg
/Priti Kumari
/Priyanka di 10th ka marks sheet.pdf
/PYTHON
/PYTHON100DAYS
/section C
/signat.jpg
/template.exe
/Visual Studio Code.lnk
/YouTube.lnk